<div class='version'>
  <a href="https://github.com/geraldb/pluto">pluto/<%= Pluto::VERSION %></a> -
  <span>Ruby/<%= "#{RUBY_VERSION} (#{RUBY_RELEASE_DATE}/#{RUBY_PLATFORM})" %> on</span>
  <span>Sinatra/<%= Sinatra::VERSION %> (<%= ENV['RACK_ENV'] %>)</span>
</div>
