
<h2><%= Item.count %> Items</h2>

<table>
<% Item.all.each do |item| %>
 <tr>
   <td><%= item.title %></td>
   <td class='key'><%= item.guid %></td>
   <td><%= item.feed.title %></td>
 </tr>
<% end %>
</table>
