
<h2>Timeline</h2>

<table>
<% Action.all.each do |action| %>
 <tr>
   <td><%= action.title %></td>
   <td><%= action.object %></td>
   <td><%= action.created_at %></td>
   <td>
    <!-- only show if different from created_at -->
    <% unless action.created_at == action.updated_at %>
     <%= action.updated_at %>
    <% end %>
   </td>
 </tr>
<% end %>
</table>
