<h1>Pluto Planet Blank Top Template Sample</h1>

<% Feed.all.each do |feed| %>
<h3><%= feed.title %> </h3>
<ul>
  <% feed.items.latest.each do |item| %>
    <li><%= item.title %> (<%= item.published_at %>)</li>
  <% end %>
</ul>
<% end %>